html  
    head
        title gh Pug 
    body
        header
            h1 ghghghgh h1
        section
            p ghgh p 
        footer
            gh
           
                 body|bgcolor=yellow
            <img src="https://img.upanh.tv/2022/07/07/tdtt.jpg" alt="tl" width=400px" height=500px">
